/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

/* Top bar */
.top-bar {
  height: 40px;
  background-color: #323f7c;
}

/* Navbar */
.navbar {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: #ffffff;
}

/* Logo */
.logo img {
  width: 180px;
  height: auto;
  cursor: pointer;
}

/* Botón hamburguesa */
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #323f7c;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Contenedor del menú */
.nav-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estado activo */
.nav-content.active {
  display: flex;
}

/* Menú */
.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  color: #323f7c;
  font-size: 18px;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #f28c1b;
}

/* Botón */
.btn-transparencia {
  margin-top: 20px;
  width: 200px;
  height: 45px;
  background-color: #f28c1b;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.btn-transparencia:hover,
.btn-transparencia:focus {
  background-color: #323f7c;
  transform: scale(1.03);
}

::ng-deep .developer-credit a {
  color: #bfdbfe !important;
}

::ng-deep .developer-credit a:hover {
  text-decoration: underline;
}
/* ===== DESKTOP ===== */
@media (min-width: 992px) {
  .menu-toggle {
    display: none;
  }

  .nav-content {
    position: static;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    box-shadow: none;
    width: auto;
    padding: 0;
  }

  .menu {
    flex-direction: row;
    gap: 38px;
  }

  .btn-transparencia {
    margin-top: 0;
    width: 210px;
    height: 50px;
    font-size: 18px;
  }

  .logo img {
    width: 260px;
  }
}
