<div class="top-bar"></div>
<nav class="navbar">
  <div class="logo">
    <img routerLink="/inicio" src="images/Logo_inicio.png" alt="Logo" />
  </div>

  <ul class="menu">
    <li><a routerLink="/inicio">INICIO</a></li>
    <li><a routerLink="/nosotros">NOSOTROS</a></li>
    <li><a routerLink="/programas">PROGRAMAS</a></li>
    <li><a routerLink="/admision">ADMISIÓN</a></li>
    <li><a routerLink="/noticias">NOTICIAS</a></li>
  </ul>

  <a routerLink="/transparencia" class="btn-transparencia">TRANSPARENCIA</a>
</nav>
