<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>I.E.S. Virgen del Carmen</title>
</head>

<body>
    <header>
    <div>
        <figure>
            <a href="/">
                <img src="/img/logo.png">
            </a>
        </figure>
    </div>
    <nav>
        <ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Programas</a></li>
            <li><a href="#">Administración</a></li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <button>Transparencia</button>
    </header>
    <h1>INSTITUTO DE EDUCACIÓN SUPERIOR</h1>
    <h2>Forma tu futuro con excelencia y transparencia</h2>
    <div>
        <section>
            <div id="news">
                <h2>Últimas noticias</h2>
                <div id="news-container">
                </div>
            </div>
        </section>
        <section>
            <div id="comunication">
                <h2>Comunicación</h2>
            </div>
        </section>
        <section>
            <div id="services">
                <h2>Otros Servicios</h2>
            </div>
        </section>
    </div>
</body>
<script src="/js/news.js"></script>
<footer>
<small>© 2026 Todos los Derechos Reservados</small>
</footer>
</html>